

/* General Form Styling */
.contact-form {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Form Heading */
.contact {
    text-align: center;
    font-size: 24px;
    color: #E2B564;
    margin-bottom: 20px;
}

/* Label Styling */
.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #E2B564;
}

/* Input and Textarea Styling */
.Input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    background-color: #000000;
    color: #E2B564;
}

/* Input Focus Effect */
.Input:focus, textarea:focus {
    outline: none;
    background-color: white;
    color: #000000;
    border-color: #E2B564; /* Highlight color on focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

/* Button Styling */
.contact-button {
    display: inline-block;
    width: 40%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #E2B564;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin: 0 auto;
}

.contact-button:hover {
    background-color: #fff;
    transform: translateY(-2px);
    color: #000000;
}

.contact-button:active {
    transform: translateY(1px);
}

/* Styling the request container */
.therequest {
    text-align: center;
    margin-top: 10px;
}

.textarea{
    min-height: 50px;
}
.alert {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }
  
  .alert.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  
  .alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  

/* Responsive Design */
@media (max-width: 768px) {
    .contact-form {
        width: 90%;
    }

    .contact {
        font-size: 20px;
    }

    .contact-button {
        width: 80%;
    }
}

    