.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  background-color: inherit;
 margin-bottom: 20px;
}

/* Ensures left and right sections are the same height */
.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  gap: 40px;
  text-align: justify;
}

.hero-left, .hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top */
}
strong{
  color: #E2B564;
}

.hero-left h1 {
  color: #E2B564;
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-story {
  color: white;
  font-size: 0.9rem;
  line-height: 1.6;
}

/* Style for Video Embed */
.hero-video {
  margin-top: 20px;
}

h3{
  color: #E2B564;
}

.hero-video h3 {
  margin-bottom: 10px;
}

/* CTA at the bottom */
.hero-cta {
  text-align: center;
  margin-top: 2px;
 
}

.hero-cta p{
  color:white;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
  }
}









