/* Global Styles */
body {
  margin: 0;
  background-color: #000000;
}

/* App Layout */
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header p {
  margin: 10px 0 0;
  font-size: 1.2rem;
}

.intro, .features {
  margin-bottom: 20px;
}

.features ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
}

.features li {
  margin: 5px 0;
}

/* Footer */
footer {
  z-index: 1000;
  text-align: center;
  background-color: #000000;
  color: white!important;
  padding: 10px 0;
  font-size: 0.9rem; 
}


/* MainContent.css */

/* Main Content Section */
.main-content {
  flex: 1;
  padding: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: all 0.3s ease-in-out; /* Smooth transition for changes */
}

/* Enhance responsiveness for mobile devices */
@media (max-width: 768px) {
  .main-content {
    padding: 15px;
    margin: 10px;
  }
}

button {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  background: #E2B564;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
}

 button:hover {
  background: #e0e0e0;
}

button.active {
  border-bottom: 2px solid #ffffff;
  color: #000000;
  font-weight: bold;
}


